.header {
    display: flex;
    justify-content: center;
    background-color: 	#708e9b;
    width: 100%;
    padding: 10px 10px;
}

.subheader{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 5px;
    width: 68%;
}

.header .cart {
    display: flex;
    gap: 7px;
}

.header .cart-icon {
  font-size: 30px;
}

.header .cart-count {
  font-size: 30px;
  color: whitesmoke;
}

.header nav a:hover {
    color: rgb(36, 34, 34);
}

.header button:hover {
    background-color: whitesmoke;
    color: grey;
}

.header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


@media (max-width: 768px) {
    .subheader {
        flex-direction: column;
        align-items: center;
    }
}


