.search input {
    border: none;
    border-color: white;
    padding: 7px 15px;
    border-radius: 10px;
    width: 300px;
    height: 50px;
}

.search-button {
    background-color: white;
    border: none;
    padding: 7px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    height: 50px;
    margin-left: 10px;
}

