.all-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 30px;
    margin: 20px auto;
    max-width: 1000px;
    margin-top: 60px;  
}

.all-products img {
    width: 200px;
    height: 200px;
    padding: 10px; 
}

.product:hover {
    border: 2px solid black;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.1);
}

.all-products p {
    font-size: 15px;
    color: #3b3a3a;
    justify-content: center; 
    align-items: center;
}

.product {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    width: 75%;
    margin: 0 auto
    
}
.product-details {
   text-align: left;
   margin: 0 auto;
   width: 80%;
}

.product-details h4 {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 8px 0;
  color: #333;
}

.product-details p {
  font-size: 0.95rem;
  margin: 6px 0;
  color: #555;
  text-align: justify;
  align-items: center;
}

.product-details h4:last-of-type {
  font-size: 1rem;
  font-weight: bold;
  color: #e59483;
}

.all-products h4 {
    font-size: 20px;
    color: #e59483;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.all-products .product {
    cursor: pointer;       
}

.selected {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transform: scale(1.02);
}

@media (max-width: 768px) {
  .all-products {
    grid-template-columns: repeat(1, 1fr);
  }
}


@media (min-width: 768px) {
  .all-products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .all-products {
    grid-template-columns: repeat(3, 1fr);
  }
} 